# Python cache
__pycache__/
*.pyc

# VSCode or JetBrains settings
.vscode/

# MacOS
.DS_Store

# Logs and temp
*.log
/tmp/
.env
*.env

# GCP credentials
*.json
/.google/credentials/
~/.dbt/

# other files
activate-environment-guide.txt
company.team.preparers.yml
code/terraform/terraform.tfstate.backup
code/terraform/terraform.tfstate
code/terraform/.terraform.lock.hcl
code/terraform/.terraform/

# my credentials
code/dbt/dbt_keys
code/kestra/keys
code/terraform/keys

# docker container
docker_container/
